################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Diskcraft/bin/Debug
/.vs
af
